<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <form id="register-form">
    <h1>Start Cooing Now!</h1>
    <input type="text" name="email" placeholder="Please enter your email address">
    <input type="password" name="password" placeholder="Please enter your password">
    <button>Submit</button>
  </form>

  <script src="/js/auth.js"></script>
</body>
</html>